# Pandas užduotys 3

In [12]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# 1 Ištraukite lentelę iš [šios](https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm) svetainės. Išsaugokite kintamąjame.

In [2]:
html = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')

In [4]:
html[1].head()

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

In [5]:
print(type(html[0]))

<class 'pandas.core.frame.DataFrame'>

In [6]:
print(html)

[                                                   0  \
0  Country any Austria Belgium Bulgaria Croatia C...
1                                                NaN

                                                   1
0  Country any Austria Belgium Bulgaria Croatia C...
1                                                NaN  ,              Staat                     Official languages    Population  \
0          Austria                                 German   8.4 million
1          Belgium  Dutch (north), French (south), German    11 million
2         Bulgaria                              Bulgarian     7 million
3          Croatia                               Croatian   4.3 million
4           Cyprus                         Greek, Turkish       800 000
5   Czech Republic                                  Czech    10 million
6          Denmark                                 Danish   5.6 million
7          Estonia                               Estonian   1.3 million
8          Finland                       Finnish, Swedish   5.4 million
9           France                                 French    65 million
10         Germany                                 German  82.5 million
11          Greece                                  Greek    11 million
12         Hungary                              Hungarian    10 million
13         Iceland                              Icelandic       320 000
14         Ireland                         English, Irish   4.6 million
15           Italy                                Italian  60.9 million
16          Latvia                                Latvian     2 million
17    Lichtenstein                                 German        36 300
18       Lithuania                             Lithuanian     3 million
19      Luxembourg          French, German, Luxembourgish       524 000
20           Malta                       English, Maltese       450 000
21     Netherlands                                  Dutch  16.8 million
22          Norway                              Norwegian     5 million
23          Poland                                 Polish  38.5 million
24        Portugal                             Portuguese  10.5 million
25         Romania                               Romanian  19.1 million
26        Slovakia                              Slovakian   5.4 million
27        Slovenia                              Slovenian     2 million
28           Spain                                Spanish    47 million
29          Sweden                                Swedish   9.5 million
30     Switzerland       French, German, Italian, Romansh     8 million
31  United Kingdom                                English  63.2 million

       Capital                Currency  Phone     Int.
0       Vienna              euro (EUR)     43      .at
1     Brussels              euro (EUR)     32      .be
2        Sofia     Bulgarian lev (BGN)    359      .bg
3       Zagreb     Croatian kuna (HRK)    385      .hr
4      Nicosia              euro (EUR)    357      .cy
5       Prague      Czech koruna (CZK)    420      .cz
6   Copenhagen      Danish krone (DKK)     45      .dk
7      Tallinn              euro (EUR)    372      .ee
8     Helsinki              euro (EUR)    358  .fi/.ax
9        Paris              euro (EUR)     33      .fr
10      Berlin              euro (EUR)     49      .de
11      Athens              euro (EUR)     30      .gr
12    Budapest  Hungarian forint (HUF)     36      .hu
13   Reykjavik   Icelandic krona (ISK)    354      .is
14      Dublin              euro (EUR)    353      .ie
15        Rome              euro (EUR)     39      .it
16        Riga      Latvian lats (LVL)    371      .lv
17       Vaduz       Swiss franc (CHF)    423      .li
18     Vilnius  Lithuanian litas (LTL)    370      .lt
19  Luxembourg              euro (EUR)    352      .lu
20    Valletta              euro (EUR)    356      .mt
21   Amsterdam              euro (EUR)     31      .nl
22        Oslo   Norwegian krone (NOK)     47      .no
23      Warsaw      Polish ztoty (PLN)     48      .pl
24      Lisbon              euro (EUR)    351      .pt
25   Bucharest      Romanian leu (RON)     40      .ro
26  Bratislava              euro (EUR)    421      .sk
27   Ljubljana              euro (EUR)    386      .si
28      Madrid              euro (EUR)     34      .es
29   Stockholm     Swedish krona (SEK)     46      .se
30        Bern       Swiss franc (CHF)     41      .ch
31      London          Pound sterling     44      .uk  ]

In [8]:
countries = html[1]
print(countries)

             Staat                     Official languages    Population  \
0          Austria                                 German   8.4 million
1          Belgium  Dutch (north), French (south), German    11 million
2         Bulgaria                              Bulgarian     7 million
3          Croatia                               Croatian   4.3 million
4           Cyprus                         Greek, Turkish       800 000
5   Czech Republic                                  Czech    10 million
6          Denmark                                 Danish   5.6 million
7          Estonia                               Estonian   1.3 million
8          Finland                       Finnish, Swedish   5.4 million
9           France                                 French    65 million
10         Germany                                 German  82.5 million
11          Greece                                  Greek    11 million
12         Hungary                              Hungarian    10 million
13         Iceland                              Icelandic       320 000
14         Ireland                         English, Irish   4.6 million
15           Italy                                Italian  60.9 million
16          Latvia                                Latvian     2 million
17    Lichtenstein                                 German        36 300
18       Lithuania                             Lithuanian     3 million
19      Luxembourg          French, German, Luxembourgish       524 000
20           Malta                       English, Maltese       450 000
21     Netherlands                                  Dutch  16.8 million
22          Norway                              Norwegian     5 million
23          Poland                                 Polish  38.5 million
24        Portugal                             Portuguese  10.5 million
25         Romania                               Romanian  19.1 million
26        Slovakia                              Slovakian   5.4 million
27        Slovenia                              Slovenian     2 million
28           Spain                                Spanish    47 million
29          Sweden                                Swedish   9.5 million
30     Switzerland       French, German, Italian, Romansh     8 million
31  United Kingdom                                English  63.2 million

       Capital                Currency  Phone     Int.
0       Vienna              euro (EUR)     43      .at
1     Brussels              euro (EUR)     32      .be
2        Sofia     Bulgarian lev (BGN)    359      .bg
3       Zagreb     Croatian kuna (HRK)    385      .hr
4      Nicosia              euro (EUR)    357      .cy
5       Prague      Czech koruna (CZK)    420      .cz
6   Copenhagen      Danish krone (DKK)     45      .dk
7      Tallinn              euro (EUR)    372      .ee
8     Helsinki              euro (EUR)    358  .fi/.ax
9        Paris              euro (EUR)     33      .fr
10      Berlin              euro (EUR)     49      .de
11      Athens              euro (EUR)     30      .gr
12    Budapest  Hungarian forint (HUF)     36      .hu
13   Reykjavik   Icelandic krona (ISK)    354      .is
14      Dublin              euro (EUR)    353      .ie
15        Rome              euro (EUR)     39      .it
16        Riga      Latvian lats (LVL)    371      .lv
17       Vaduz       Swiss franc (CHF)    423      .li
18     Vilnius  Lithuanian litas (LTL)    370      .lt
19  Luxembourg              euro (EUR)    352      .lu
20    Valletta              euro (EUR)    356      .mt
21   Amsterdam              euro (EUR)     31      .nl
22        Oslo   Norwegian krone (NOK)     47      .no
23      Warsaw      Polish ztoty (PLN)     48      .pl
24      Lisbon              euro (EUR)    351      .pt
25   Bucharest      Romanian leu (RON)     40      .ro
26  Bratislava              euro (EUR)    421      .sk
27   Ljubljana              euro (EUR)    386      .si
28      Madrid              euro (EUR)     34      .es
29   Stockholm     Swedish krona (SEK)     46      .se
30        Bern       Swiss franc (CHF)     41      .ch
31      London          Pound sterling     44      .uk

# 2 šių duomenų pagrindu sukurkite CSV, Excelio failus, ir SQLite3 duomenų bazę. Patikrinkite, ar suveikė.

In [9]:
countries.to_csv('countries1.csv', index=False)

In [10]:
countries.to_excel('countries1.xlsx', index=False)

In [14]:
engine = create_engine('sqlite:///countries1.db')
countries.to_sql('countries1', con=engine, index=False)

32

# 3 Nuskaitykite į DF šį [failą](https://github.com/robotautas/kursas/blob/master/Pandas/top_20_CA_wildfires.csv)

In [19]:
gaisrai = pd.read_csv('top_20_CA_wildfires.csv')

In [20]:
gaisrai.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

# 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

In [21]:
len(gaisrai['cause'].unique())

5

# 5 Kokios gaisrų priežastys, kiek kartų pasitaiko lentelėje?

In [31]:
gaisrai['cause'].count()

20

In [32]:
viso_gaisru = gaisrai['cause'].count()

In [33]:
print(f"viso gaisru {viso_gaisru}")

viso gaisru 20

In [42]:
visu_gaisru = gaisrai['cause'].value_counts()
print(visu_gaisru)

cause
Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: count, dtype: int64

In [43]:
gaisrai['cause'].value_counts()

cause
Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: count, dtype: int64

# 6 Kuriais metais buvo daugiausia gaisrų?

In [36]:
gaisrai['year'].value_counts()

year
2018    3
2007    2
2008    2
2017    1
2003    1
2012    1
2013    1
1932    1
1977    1
1970    1
2006    1
2009    1
2015    1
2002    1
1987    1
1999    1
Name: count, dtype: int64

In [37]:
gaisrai['year'].count()

20

In [40]:
gaisrai['year'].value_counts().idxmax()

2018

# 7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?

In [45]:
gaisrai['deaths'].value_counts().drop(0).sum()

10

Kai kuriuose duomenų rinkiniuose yra atvejų, kai reikšmė "0" yra priskiriama tam tikriems duomenims, tačiau ji nėra vertinga arba nėra reikšminga analizei, kurią atliekate. Todėl dažnai norint gauti tik tikrąsias ir reikšmingas reikšmes, naudojama drop(0) funkcija.

value_counts() funkcija suskaičiuoja, kiek kartų kiekviena reikšmė pasitaiko stulpelyje. drop(0) šiuo atveju išmeta visas reikšmes, kurios yra lygios nuliui (0), ir grąžina naują seriją be šių reikšmių.

Taigi, kai rašote gaisrai['deaths'].value_counts().drop(0).sum(), jūsų kodas suskaičiuoja, kiek kartų pasikartoja visas reikšmes stulpelyje "deaths", išmeta visas reikšmes, kurios yra lygios nuliui, ir tada susumuoja visas likusias reikšmes, kurios nėra nuliai. Tai leidžia gauti bendrą kiekį mirties atvejų, neįskaitant nulių. Tai yra naudinga, jei norite gauti tikrąsias mirties atvejų skaičių, ignoruodami galimas nereikšmingas ar neegzistuojančias reikšmes.

# 8 Surūšiuokite eilutes pagal metus. Išsiaiškinkite, kaip rūšiuoti, kad naujausi gaisrai būtų viršuje

In [46]:
gaisrai.sort_values('year', ascending=False).head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0

Tai reiškia, kad jūsų DataFrame gaisrai duomenys yra rūšiuojami pagal stulpelį "year" mažėjimo tvarka, ir po to atspausdinamos pirmos penkios eilutės su didžiausiais metų skaičiais.

Šiuo atveju ('year', ascending=False) dalis yra parametras, kuris nurodo, kokia tvarka turėtų būti surūšiuoti duomenys. Tai nėra prieigos operatorius prie stulpelio, todėl nenaudojami kvadratiniai skliaustai [ ].

# 9 Parašykite funkciją, kuri mėnesio pavadinimą verstų skaičiumi. Naudodami .apply() lentelėje pakeiskite mėnesių pavadinimus skaičiais. 
*nusikopijuokite žodyną, kad nereikėtų rašyti ranka :)*

In [67]:
def months_to_nums(month):
    menesiai = {'January': 1,
      2: 'February',
      3: 'March',
      4: 'April',
      5: 'May',
      6: 'June',
      'July': 7,
      8: 'August',
      9: 'September',
      'October': 10,
      11: 'November',
      'December': 12}
    return menesiai[month]

In [68]:
months_to_nums('January')

1

In [69]:
gaisrai['month'] = gaisrai['month'].apply(months_to_nums)

KeyError: 'August'

In [67]:
gaisrai.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,7,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,12,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,10,2003,San Diego,273246,2820,15
3,Rush,Lightning,8,2012,Lassen,271911,0,0
4,Rim,Human Related,8,2013,Tuolumne,257314,112,0

# 10 Nuskaitykite lentelę iš [čia](https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus).

* **Pakeiskite indeksą į stulpelį 'Miestas'**
* **Sutvarkykite duomenis taip, kad gyventojų sk. reprezentuotų lengelis su 'int' reikšme: -
Ten kur trūksta duomenų - nulis. 
ten, kur reikšmės ne integer, sutvarkykite, kad būtų integer.**

In [459]:
#pabaigoje, miestai.info() turėtų rodyti tokį rezultatą

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, Vilnius to Panemunė
Data columns (total 9 columns):
2019    103 non-null int64
2011    103 non-null int64
2001    103 non-null int64
1989    103 non-null int64
1979    103 non-null int64
1970    103 non-null int64
1959    103 non-null int64
1923    103 non-null int64
1897    103 non-null int64
dtypes: int64(9)
memory usage: 13.0+ KB